body {
	font-family: sans-serif; 
	background-color: gray;
}

h1 {
	font-family: serif;
	color: black;

	border: 5px dotted red;
	padding:20px;
	margin-left: 40px;

}
#face{
	position: fixed;
	top: 20px;
	left: 10px; 
}

#dematha{
	margin-left: 200px;
}